<% if user_signed_in? %>

  <div class="card-deck mb-4">
    <div class="card w-100">
      <img class="card-img-top" src="/assets/absT.jpeg" alt="Card image cap">
      <div class="card-body">
        <h2 class="card-title float-left">Cohorts</h2>
        <a href="cohorts" class="btn btn-primary float-right">Details</a>
      </div>
    </div>


    <div class="card w-100">
      <img class="card-img-top" src="/assets/abs8.jpg" alt="Card image cap">
      <div class="card-body">
        <h2 class="card-title float-left">Courses</h2>
        <a href="courses" class="btn btn-primary float-right">Details</a>
      </div>
    </div>
  </div>

  <div class="card-deck mb-4">
    <div class="card w-100">
      <img class="card-img-top" src="/assets/abs7.jpg" alt="Card image cap">
      <div class="card-body">
        <h2 class="card-title float-left">Masters</h2>
        <a href="masters" class="btn btn-primary float-right">Details</a>
      </div>
    </div>
    <div class="card w-100">
      <img class="card-img-top" src="/assets/absS.jpg" alt="Card image cap">
      <div class="card-body">
        <h2 class="card-title float-left">Students</h2>
        <a href="students" class="btn btn-primary float-right">Details</a>
      </div>
    </div>
  </div>


  <% else %>
    <li>
      <%= link_to "Sign Up", new_user_registration_path %>
    </li>
    <li>
      <%= link_to "Login", new_user_session_path %>
    </li>
    <% end %>
