<h1>Listing courses</h1>
 
<table>
  <tr>
    <th>Name</th>
    <th>Hours</th>
    <th></th>
  </tr>
 
  <% @courses.each do |course| %>
    <tr>
      <td><%= course.name %></td>
      <td><%= course.hours %></td>
      <td><%= link_to 'Show', course_path(course) %></td>
    </tr>
  <% end %>
</table>
